
body{
    background-color: rgb(217, 255, 129);
    
h1{
    border: 2px thick double white;
    font-size:50px;
    margin: 10px;
}

    .flex1{
        display: flex;
        justify-content: space-between;
    }

    .flex2{
        display: flex;
    }

p{
    font-size: 18px;
    font-family: 'Courier New';
    border: 6px dotted #95ebee;
    background-color:aliceblue;
}

    #intro {
        border: 6px dotted #95ebee;
        margin: 0% 20% 0% 0%;
        padding: 0% 0% 0% 30%;
        background-color:aliceblue;

      }
    #me{
        margin-right:60px;
    }
   #link{
    cursor: pointer;
    padding-top: 2.5%;
   }
   .prototype{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
   }   
   .prototype_image{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    

   }
   #open{
    border: 2px solid lightskyblue; 
   }
   #close{
    border: 2px solid lightskyblue; 
   }
   #dude_one{
    border:none;
    font-size:40px;

   }
    

}