body{
    background-color: rgb(255, 255, 255);
h1{
    size:300px;
    margin: 10px;
}

    #intro {
        font-size: 50px;
        font-family: 'Courier New';
        border: 6px dotted #95ebee;
        margin: 60px 200px 50px 10px;
        background-color:aliceblue

      }
    

}