
body{
    background-color: rgb(217, 255, 129);
    img{
        width:100%;
        height:100%;
    }
h1{
    font-size:50px;
    margin: 10px;
    #name{
        border: 6px dotted #95ebee;
        background-color:aliceblue;
        float:left;
    }
    .flex1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
p{
    font-size: 25px;
    font-family: 'Courier New';
    border: 6px dotted #95ebee;
    background-color:aliceblue;
}

    #intro {
        border: 6px dotted #95ebee;
        margin: 0% 30% 0% 0%;
        padding: 0% 50% 0% 0%;
        background-color:aliceblue;

      }
      .right{
        float:right;
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        padding: 20% 0%;
      }
    

}